/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background-color: black;
  color: #FFCC01;
}

.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}
.logo {
  max-width: 60%;
  margin: auto;
  padding-bottom: 5rem;
}
.appstore {
  max-width: 50%;
  margin: auto;
  padding-bottom: 5rem;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menu {
  background-color: #FFCC01;
  color: black;
  padding-bottom: 5rem;
}
.menu-item {
  margin-bottom: .5rem;
  color: black;
  font-weight: 900;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

.bordered {
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 4rem;
}

.no_underline {
  text-decoration: none;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('values-bg.jpg');
  background-size: cover;
  color: black;
}
.categories .section-description { 
  margin-bottom: 4rem;
}

.rule {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: white;
}

.rule h5, span{
  color: #FFCC01;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
  .logo {
    max-width: 30%;
    margin-top: -10rem;
  }
  .appstore {
    max-width: 45%;
  }
  .rule {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}