<!DOCTYPE html>
<html lang="ja">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>記録王</title>
  <meta name="description" content="毎日プロ野球の試合前に打ちそうな選手を一人選び、その選手が実際にヒットを打てば記録が伸びるゲームです。記録を伸ばしてプレゼントも獲得できます！ 最高賞金額はジョー・ディマジオ（ヤンキース）が1941年に達成した56試合連続安打にちなんで57万円！ ダウンロード: https://itunes.apple.com/jp/app/kirokuo/id1095925143">
  <meta name="keywords" content="記録王,野球,野球アプリ,野球ゲーム,ゲーム,アプリ,プロ野球,プロ野球アプリ,連続安打,ヒット記録,安打記録,賞金アプリ,賞金,高橋慶彦,ジョー・ディマジオ,ディマジオ">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='skeleton.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <img class="logo" src="{{url_for('static', filename='black_logo.png')}}">
          <h5 class="hero-heading">・ヒットを打ちそうな選手を予想</h5>
          <h5 class="hero-heading">・連続安打記録を伸ばす</h5>
          <h5 class="hero-heading">・最高賞金額５７万円！！</h5>
          <a href="//itunes.apple.com/jp/app/kirokuo/id1095925143"><img class="appstore" src="{{url_for('static', filename='appstore.png')}}"></a>
        </div>
        <div class="one-half column phones">
          <img class="phone" src="{{url_for('static', filename='iphone-small.png')}}">
          <img class="phone" src="{{url_for('static', filename='iphone-small.png')}}">
        </div>
      </div>
    </div>
  </div>

  <div class="section menu">
    <div class="container">
      <div class="row">
        <div class="one-third column value bordered">
          <a class="no_underline" href="{{url_for('home.rule')}}">
            <h5 class="menu-item">ルール</h5>
          </a>
        </div>
        <div class="one-third column value bordered">
          <a class="no_underline" href="{{url_for('home.present')}}">
            <h5 class="menu-item">プレゼント情報</h5>
          </a>
        </div>
        <div class="one-third column value bordered">
          <a class="no_underline" href="{{url_for('home.coming_soon')}}">
            <h5 class="menu-item">ランキング</h5>
          </a>
        </div>
      </div>
      <a href="{{url_for('home.privacy_policy')}}">プリバシーポリシー</a>
      <a href="{{url_for('home.terms_of_use')}}">利用規約</a>
      <p class="section-description">Copyright © 記録王 All rights reserved</p>
      <p class="section-description">Contact <a href="mailto:info@kirokuo.com">info@kirokuo.com</a></p>
    </div> 
  </div>

</body>
</html>