<!DOCTYPE html>
<html lang="ja">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>記録王</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='skeleton.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

<div class="section rule">
  <center>
    <h5 class="hero-heading">プレゼント情報</h5>
    <span>(2016.04.01更新)</span>
  </center>
  <br>
  <br>
  <h5>1. 10万円</h5>
  ・ 一番最初にヒット記録が<span>34</span>に到達したユーザー<br>
  ・ 背景: <span>高橋慶彦</span>（広島）が1979年に達成した<span>33試合連続安打</span><br>
  ※ 同じ日に二人以上のユーザーが達成した場合は山分けとなります。<br>
  <br>
  <br>
  <h5>2. 57万円</h5>
  ・ 一番最初にヒット記録が<span>57</span>に到達したユーザー<br>
  ・ 背景: <span>ジョー・ディマジオ</span>（ヤンキース）が1941年に達成した<span>56試合連続安打</span><br>
  ※ 同じ日に二人以上のユーザーが達成した場合は山分けとなります<br>
  <br>
  <br>
  <h5>3. １万円 x 5</h5>
  ・レギュラーシーズン終了時に今シーズンの最高ヒット記録<span>トップ5人</span><br>
  ※ 引き分けで5人以上の場合は順位に応じての山分けとなります<br>
</div>
</body>
</html>