<!DOCTYPE html>
<html lang="ja">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>記録王</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='skeleton.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section hero">
    <div class="container">
      <center>
        <h5 class="hero-heading">プライバシーポリシー</h5>
      </center>
<p>
記録王（以下「当サービス」といいます。）は、当サービスが取得する個人情報を含む利用者等（以下「利用者」といいます。）の情報（以下「利用者情報」といいます。）の取扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます。）を定めます。
</p>

<h6>
1. 取得する利用者情報及び取得方法
</h6>
<p>
当サービスが取得する利用者情報は、以下のようなものとなります。
</p>
<p>
・ メールアドレス<br>
・ 生年月日、年齢<br>
・ その他当サービスが定める入力フォームにユーザーが入力する情報<br>

<p>
ソーシャルネットワークサービス等の外部サービスとの連携を許可することにより、当該外部サービスから以下の情報をご提供いただく場合があります。
</p>
<p>
・ ユーザーが、外部サービスとの連携を許可する際に、当該外部サービス又は当サービスからユーザーに明示した情報
</p>
<p>
当サービスの利用にともない、以下の情報を自動的に取得する場合があります。
</p>
<p>
・ 端末機種情報<br>
・ ユーザーID<br>
・ 当サービス内の情報へのアクセス履歴<br>
・ ユーザーエージェント<br>
・ IPアドレス<br>
・ 当サービス内の広告へのアクセス履歴及び当該広告からの行動履歴（会員登録、ダウンロード、商品購入等の行動履歴）<br>
・ 広告識別子（IDFAまたはGoogle Advertising ID等）<br>
・ クッキー情報<br>
</p>
<p>

<h6>
2. 利用目的
</h6>
<p>
当サービスは、取得した利用者情報を以下の目的で利用します。
</p>
<p>
・当サービスの提供、維持、保護及び改善のため<br>
・当サービスに関する登録の受付、本人確認等本サービスの提供、維持、保護及び改善のため<br>
・当サービスに関するご案内、お問い合せ等への対応のため<br>
・当サービスの規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対する対応のため<br>
・当サービスに関する規約等の変更などを通知するため<br>
・当サービスの利用状況の調査、分析のため<br>
・当サービスの改善、新サービスの開発等に役立てるため<br>
・マーケティング調査のため<br>
・当サービスに関連して、個人を識別できない形式に加工した統計データを作成するため<br>
・広告の配信または表示のため<br>
・上記の利用目的に付随する利用目的のため<br>
</p>

<h6>
3. 個人情報利用の制限
</h6>
<p>
当サービスは、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）その他の法令により許容される場合を除き、利用者の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報（個人情報保護法第2条第1項により定義された個人情報をいいます。以下同様です。）を取り扱いません。但し、次の場合はこの限りではありません。
</p>
<p>
・法令に基づく場合
・人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき<br>
・公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき<br>
・国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき<br>
</p>

<h6>
4. 第三者提供
</h6>
<p>
当サービスは、利用者情報のうち、個人情報について、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、あらかじめ利用者の同意を得ることなく、第三者に提供いたしません。但し、次に掲げる場合はこの限りではありません。
</p>
<p>
・当サービスが利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合<br>
・合併その他の事由による事業の承継に伴って個人情報が提供される場合<br>
・その他、個人情報保護法その他の法令で認められる場合<br>
</p>

<h6>
5. 個人情報の安全管理
</h6>
<p>
当サービスは、個人情報の紛失、破壊、改ざん及び漏洩などのリスクに対して、個人情報の安全管理が図られるよう、当サービスに携わる者に対して、必要かつ適切な監督を行います。また、当サービスは、個人情報の取扱いの全部又は一部を委託する場合は、委託先において個人情報の安全管理が図られるよう、必要かつ適切な監督を行います。
</p>

<h6>
6. 通知・公表、本ポリシーの変更
</h6>
<p>
・当サービスは、本ポリシーを当サービスウェブサイト上に掲示、公表しています。<br>
・当サービスは、利用者情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本ポリシーを変更することがあります。変更した場合には、当サービスウェブサイト上に掲載いたします。変更された本ポリシーは、掲載を開始した時点から適用されるものとします。なお、法令上利用者の同意が必要となるような内容の変更の場合は、当サービス所定の方法で利用者の同意を得るものとします。
</p>

<h6>
7. 個人情報の開示
</h6>
<p>
当サービスは、利用者から、個人情報保護法の定めに基づき個人情報の開示を求められたときは、本人からの請求であることを確認の上、利用者に対し、遅滞なく開示を行います（当該個人情報が存在しないときにはその旨を通知いたします。）。但し、個人情報保護法その他の法令により、当サービスが開示の義務を負わない場合は、この限りではありません。
</p>
<h6>
8. 個人情報の訂正及び利用停止等
</h6>
<p>
・当サービスは、利用者から、⑴ 個人情報が真実でないという理由によって個人情報保護法の定めに基づきその内容の訂正、追加又は削除（以下「訂正等」といいます。）を求められた場合、⑵ あらかじめ公表された利用目的の範囲を超えて取り扱われているという理由又は偽りその他不正の手段により収集されたものであるという理由により、個人情報保護法の定めに基づきその利用の停止を求められた場合、及び⑶ 第3条以外の理由で利用者の個人情報が第三者に提供されているという理由により、個人情報保護法の定めに基づき第三者への提供の停止を求められた場合には、本人からの請求であることを確認の上、遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正等、利用停止又は提供停止を行い、その旨を利用者に通知します。なお、合理的な理由に基づいてこれらの措置を行わない旨の決定をしたときは、利用者に対しその旨を通知いたします。<br>
・個人情報保護法その他の法令により、当サービスが訂正等、利用停止又は提供停止の義務を負わない場合は、前項の規定は適用されません。
</p>
<h6>
9. 外部サービスとの連携
</h6>
<p>
当サービスにおいては、ユーザーが承諾することにより、第三者の運営する外部サービスのアカウントと接続、連携することができますが、ユーザーが外部サービスに提供した情報については、当サービスの管理下にあるものではなく、外部サービスの利用規約、プライバシーポリシーと当サービスの利用規約、プライバシーポリシーがそれぞれ別に適用されることにご注意ください。
</p>

<h6>
10. 利用者関与の方法
</h6>
<p>
ユーザーは、当サービスの利用をやめること又は当サービスのアプリをアンインストールすることで、当サービスによる利用者情報の取得を停止することができます。
</p>
<h6>
11.お問い合わせ窓口
</h6>
<p>
ご意見、ご質問、苦情のお申出その他利用者情報の取扱いに関するお問い合わせ、並びに第7条、第8条の請求については、下記の窓口までお願い致します。<br>
E-mail：info@kirokuo.com<br>
【2016年4月11日制定】<br>
</p>
    </div>
  </div>

</body>
</html>