<!DOCTYPE html>
<html lang="ja">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>記録王</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='skeleton.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

<div class="section rule">
  <center>
    <h5 class="hero-heading">ルール説明</h5>
    <span>(2016.04.25更新)</span>
  </center>
  <br>

このゲームはセ・リーグ、パ・リーグのプロ野球試合日にヒットを打ちそうな選手を予想するゲームです。連続して予想を当てて、ヒット記録を伸ばすことでプレゼントを獲得しましょう!<br>
<br>
<span>◆遊び方</span><br>
1. その日に試合があるチームから選手を1人選択します。<br>
2. 選択した選手がヒットを打てば、ヒット記録が1伸び、ヒットを打たなければヒット記録は0にリセットされます。<br>
3. ヒット記録を伸ばすとプレゼントを獲得できます。<br>
<br>
<br>
<span>◆選手の選び方</span><br>
1. 選手は当日に試合がある全プロ野球チームから選ぶことができます。<br>
2. 毎日違う選手を選ぶことも、同じ選手を何日も連続で選ぶことも出来ます。<br>
3. 選択した選手は試合開始10分前まで変更が可能です。試合開始10分を切ると変更することができません。<br>
<br>
<br>
<span>◆ヒット記録について</span><br>
1. 選択した選手がヒットを打つと、ヒット記録が1伸びます。<br>
2. 以下の場合はヒット記録が保持され、ヒット記録が0にリセットされることはありません。<br>
・ 選手を一人も選ばなかった場合<br>
・ 選んだ選手が出場しなかった場合<br>
・ 試合が中止（ノーゲーム）になった場合 (中止になる前にヒットがあっても記録は伸びません)<br>
・ 全ての打席が四死球もしくは犠牲バントの場合<br>
   (打数が0でも犠牲フライがある場合はノーヒットとみなされ、記録がリセットされます)<br>
・ ノーヒットかつバッター保険をかけている場合 (※「バッター保険」参照)<br>
<br>
<span>◆メダル</span><br>
1. 選んだ選手が1ヒット打つごとに、メダルを1枚獲得することが出来ます。<br>
2. メダルを利用してバッター保険をかけることが出来ます。<br>
<br>
<br>
<span>◆バッター保険</span><br>
バッター保険は、選択した選手がヒットを打たなかった場合に適応される、ヒット記録リセット回避保険です。<br>
1. 毎回選手を選ぶ時に、バッター保険の利用有無を選択できます。<br>
2. その時のヒット記録によってバッター保険に必要なメダルの枚数が異なります。<br>
・ 10未満の場合: メダル10枚<br>
・ 10以上20未満の場合: メダル20枚<br>
・ 20以上30未満の場合: メダル30枚<br>
・ 30以上40未満の場合: メダル40枚<br>
・ 40以上50未満の場合: メダル50枚<br>
・ 50以上60未満の場合: メダル60枚<br>
3. 保険をかけた選手がヒットを打てば、保険は適用されませんが、メダルは残高から引かれます。<br>
4. 保険をかけた選手がノーヒットの場合、保険が適用され、ヒット記録リセットを回避できます。<br>
5. ヒット記録を出している最中に一度でも保険が適用されれば、その記録が途切れるまで再び保険をかけることはできません。<br>
<br>
<br>
<span>◆プレゼント</span><br>
1. プレゼント情報については<a href="{{url_for('home.present')}}" class="no_underline"><span>「プレゼント情報」</span></a>をご覧下さい。<br>
<br>
<br>
</div>
</body>
</html>