<!DOCTYPE html>
<html lang="ja">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>記録王</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='skeleton.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section hero">
    <div class="container">
      <center>
        <h5 class="hero-heading">「記録王」サービス利用規約</h5>
      </center>
<p>
本利用規約（以下「本規約」といいます。）は「記録王」（以下「本サービス」といいます。）の提供者（以下「本サービス提供者」といいます。）と本サービスを利用するユーザーとの本サービスの利用に関する権利義務関係を定めるものであり、本サービスを利用するすべてのユーザーに適用されます。
</p>
<p>
第1条 用語の定義について
</p>
<p>
本規約において使用する用語の意義は、次の各号の定めるとおりとします。
</p>
<p>
1. 「本サービス」とは、「記録王」アプリ内でのサービスのことを意味します。<br>
2. 「ユーザー」とは、本サービスを利用する者のことを意味します。<br>
3. 「登録ユーザー」とは、ユーザーのうち登録情報を提供することにより、又は外部SNSサービスとの連携等により登録手続きを行い、登録を完了した者を意味します。<br>
4. 「登録情報」とは、メールアドレス、パスワードなどユーザーが本サービスのユーザー登録に際して本サービス提供者に提供するすべての情報を意味します。<br>
5. 「外部SNSサービス」とは、Facebook、Google、Twitterその他の他の事業者が提供しているソーシャル・ネットワーキングサービスで、ユーザーの認証、友人関係の開示、当該外部ソーシャル・ネットワーキング内へのコンテンツの公開などの機能を持ち、本サービスの実施に利用されるサービスを意味します。<br>
6. 「外部SNS事業者」とは、外部SNSサービスのサービス提供者を意味します。<br>
7. 「外部SNS利用規約」とは、ユーザーと外部SNS事業者との権利関係を定める規約を意味します。<br>
</p>
<p>
第2条 適用
</p>
<p>
1. 本サービス提供者は、本サービスの各々につき、本サービス提供者の判断で個別規定を定めることができるものとします。個別規定が定められた場合、当該個別規定が対象とする本サービスを利用するユーザーについては、本規約のほか当該個別規定も適用されるものとします。<br>
2. ユーザーは、本サービスの利用を開始する前に、本規約（個別規定がある場合は、個別規定を含むものとします。以下同じとします。）の内容をご確認の上、本規約に同意するものとします。なお、ユーザーが本サービスの利用を開始した時点で、ユーザーは本規約の内容を確認の上、これに同意したものとみなされます。ユーザーの本規約への同意により本サービス提供者とユーザーの間に、本サービスの利用契約が成立します。なお、ユーザーが本規約に同意しない場合は、本サービスをご利用にならないでください。<br>
3. ユーザーが未成年者である場合には、親権者等の法定代理人の承諾を得て本サービスを利用するものとします。<br>
4. 本サービス提供者が本サービス上で随時掲載する本サービスに関するルール、諸規定等及び個別規約は本規約の一部を構成するものとします。
</p>
<p>
第3条 本規約の変更
</p>
<p>
1. 本サービス提供者は、本規約（本サービス内に掲載する本サービスに関するルール、諸規定等を含みます。以下本条において同じ。）をいつでも任意に変更することができるものとします。<br>
2. 本サービス提供者は、本規約を変更した場合、変更した本規約を本サイト等上の適宜の場所に掲載するものとし、変更後の本規約は、当該掲載時から効力を生じるものとします。ユーザーは本サービス利用時に変更した本規約が本サイト等上に掲載された後に、ユーザーが本サービスの利用を継続した場合、ユーザーは本規約の変更に同意したものとみなされます。
</p>
<p>
第4条 ユーザー登録
</p>
<p>
1. 本サービス提供者は、本サービスの利用に際し、ユーザーに登録手続きを要請します。登録ユーザーになろうとする者は、本サービス内で登録手続きを行うものとします。<br>
2. 本サービス提供者は、前項に基づき登録ユーザーとなろうとした者が、以下の各号のいずれかの事由に該当する場合は、登録を拒否する場合があります。<br>
(1) 本規約に違反するおそれがあると本サービス提供者が判断した場合<br>
(2) 本サービス提供者に提供された登録情報の全部又は一部につき虚偽、誤記又は記載漏れがあった場合<br>
(3) 過去に本サービスの利用の登録を本サービス提供者により削除された者である場合<br>
(4) 反社会的勢力等（暴力団、暴力団員、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標榜ゴロ、特殊知能暴力集団等その他これに準ずる者を意味します。以下同じ。）である、又は、資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何のかの交流若くは関与を行っていると本サービス提供者が判断した場合<br>
(5) その他、本サービス提供者が登録を適当でないと判断した場合<br>
5. 登録ユーザーになろうとする者は、自身の真実かつ正確な最新の情報を登録情報として本サービス提供者に提供するものとします。<br>
6. 登録ユーザーは、登録情報を不正に利用されないよう、自己の責任の下、これを管理するものとします。<br>
7. 登録ユーザーは、登録情報に変更があった場合には、速やかに、本サービス提供者の定める方法により、当該変更事項を本サービス提供者に通知するものとします。<br>
8. 本サービス提供者は、ユーザーのユーザーアカウントを使用して行われた一切の行為を、ユーザー自身の行為とみなすことができ、これによりユーザーに損害が生じた場合でも一切の責任を負わないものとします。
</p>
<p>
第5条 本サービスの利用
</p>
<p>
1. ユーザーは、本規約の目的の範囲内でかつ本規約に違反しない範囲内で、本サービス提供者の定める方法及び条件に従い、本サービスを利用することができます。<br>
2. 本サービスの提供を受けるために必要な、コンピューター、ソフトウェアその他の機器、通信回線その他の通信環境等の準備及び維持は、ユーザーの費用と責任において行うものとします。<br>
3. ユーザーは自己の本サービスの利用環境に応じて、コンピューター・ウィルスの感染の防止、不正アクセス及び情報漏洩の防止等のセキュリティ対策を自らの費用と責任において講じるものとします。<br>
4. ユーザーは、本サービス提供者が本サービス中に広告を掲載する場合があることを了承の上、本サービスを利用するものとします。
</p>
<p>
第6条 禁止行為
</p>
<p>
ユーザーは、本サービスの利用にあたり、以下の各号のいずれかに該当する行為をしてはなりません。
</p>
<p>
(1) 本サービス提供者、又は本サービスの他の利用者その他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利又は利益を侵害する行為（かかる侵害を直接又は間接に惹起する行為を含みます。）<br>
(2) 本サービスにてユーザーに提供する情報を本サービス提供者が本サービスの機能として提供する方法以外の方法で利用する行為（情報の無断転載、無断改変等を含みますが、これらに限られません。）<br>
(3) 犯罪行為に関連する行為又は公序良俗に反する行為<br>
(4) 法令又は本サービス提供者若しくはユーザーが所属する業界団体の内部規則に違反する行為<br>
(5) コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報を送信する行為<br>
(6) 本サービスに関し利用しうる情報を改ざんする行為<br>
(7) 本サービス提供者による本サービスの運営を妨害するおそれのある行為<br>
(8) その他、本サービス提供者が不適切と判断する行為
</p>
<p>
第7条 本サービスの停止等
</p>
<p>
1. 本サービス提供者は、以下のいずれかに該当する場合には、ユーザーに事前に通知することなく、本サービスの利用の全部又は一部を停止又は中断することができるものとします。<br>
(1) 本サービスに係るコンピューター・システムの点検又は保守作業を定期的又は緊急に行う場合<br>
(2) コンピューター、通信回線等が事故により停止した場合<br>
(3) 火災、停電、地震、天災地変などの不可抗力により本サービスの運営ができなくなった場合<br>
(4) 外部SNSサービスに、トラブル、サービス提供の中断又は停止、本サービスとの連携の停止、仕様変更等が生じた場合<br>
(5) その他、本サービス提供者が停止又は中断を必要と判断した場合<br>
2. 本サービス提供者は、本サービス提供者が必要と判断した場合、本サービスの全部又は一部を変更、一時中止又は終了することができるものとします。本サービスを終了する場合、本サービス提供者はユーザーに事前に通知するものとします。<br>
3. 本サービス提供者は、本条に基づき本サービス提供者が行った措置に基づきユーザーに生じた損害について一切の責任を負いません。<br>
</p>
<p>
第8条 個人情報等の取扱い
</p>
<p>
本サービス提供者は、ユーザーが本サービスを利用する際に本サービス提供者が収集した個人情報その他ユーザーの情報を、本サービス提供者の「プライバシーポリシー」に従い利用することができるものとし、ユーザーは、本サービスの利用により、当該取扱いについて同意したものとみなされます。
</p>
<p>
第9条 権利帰属
</p>
<p>
本サービスに関する所有権及び知的財産権は全て本サービス提供者又は本サービス提供者にライセンスを許諾している者に帰属しており、本規約に定める本サービスの利用許諾は、本サービスに関する本サービス提供者又は本サービス提供者にライセンスを許諾している者の知的財産権の使用許諾を意味するものではありません。ユーザーは、いかなる理由によっても本サービス提供者又は本サービス提供者にライセンスを許諾している者の知的財産権を侵害するおそれのある行為（逆アセンブル、逆コンパイル、リバースエンジニアリングを含みますが、これらに限りません。）をしないものとします。
</p>
<p>
第10条 利用の停止等
</p>
<p>
1. 本サービス提供者は、ユーザーが、以下の各号のいずれかの事由に該当する場合は、事前に通知又は催告することなく、当該ユーザーについて、本サービスの利用を一時的に停止し、登録ユーザーとしての登録を取り消し、又はユーザーアカウントの削除により本サービスの利用契約を解除することができます。<br>
(1) 本規約のいずれかの条項に違反した場合<br>
(2) 登録情報に虚偽の事実があることが判明した場合<br>
(3) 本サービス提供者、他のユーザー、外部SNS事業者、パートナー事業者その他の第三者に損害を生じさせるおそれのある目的又は方法で本サービスを利用した、又は利用しようとした場合<br>
(4) 外部SNS利用規約に違反したことその他の理由によって、ユーザーが外部SNS事業者から、そのサービスの提供や連携を受けられなくなった場合<br>
(5) 手段の如何を問わず、本サービスの運営を妨害した場合<br>
(6) 支払停止若しくは支払不能となり、又は破産手続開始、民事再生手続開始、会社更生手続開始、特別清算開始若しくはこれら類する手続の開始の申立てがあった場合<br>
(7) 自ら振出し、若しくは引受けた手形若しくは又は小切手につき、不渡りの処分を受けた場合、又は手形交換所の取引停分その他これに類する措置を受けたとき<br>
(8) 差押、仮差押、仮処分、強制執行又は競売の申立てがあった場合<br>
(9) 租税公課の滞納処分を受けた場合<br>
(10) 死亡した場合又は後見開始、保佐開始若しくは補助開始の審判を受けた場合<br>
(11) 12ヶ月以上本サービスの利用がなく、本サービス提供者からの連絡に対して応答がない場合<br>
(12) 第4条第4項各号に該当する場合<br>
(13) その他、本サービス提供者がユーザーとしての本サービスの利用継続を適当でないと判断した場合<br>
2. 前項各号のいずれかの事由に該当した場合、ユーザーは、本サービス提供者に対して負っている債務の一切について当然に期限の利益直ちに本サービス提供者に対して全ての債務の支払を行わなければなりません。<br>
3. 本サービス提供者は、本条に基づき本サービス提供者が行った行為によりユーザーに生じた損害について一切の責任を負いません。<br>
4. ユーザーは、本サービス提供者所定の方法で本サービス提供者に通知することにより、自己の登録ユーザーとしての登録を削除することができます。<br>
5. ユーザーのユーザーアカウントが削除されると、当該削除と同時にユーザーが本サービス上で設定した内容及び取得したもの（本サービスの一部の利用権を含みますが、これに限られません。以下、総称して「利用データ」といいます）も削除され、一度削除された利用データは復旧できません。
</p>
<p>
第11条 保証の否認及び免責
</p>
<p>
1. 本サービス提供者は、本サービスで配信又は提供される情報に関し、内容の正確性、信頼性、適法性、特定目的への適合性その他一切の事項について、如何なる保証も行うものではありません。さらに、ユーザーが本サービス提供者から直接的又は間接的に本サービス又は他のユーザーに関する情報を得た場合であっても、本サービス提供者はユーザーに対し本規約において規定されている内容を超えて如何なる保証も行うものではありません。<br>
2. ユーザーは、本サービスを利用することが、ユーザーに適用のある法令、業界団体の内部規則等に違反するか否かを自己の責任と費用に基づいて調査するものとし、本サービス提供者は、ユーザーによる本サービスの利用が、ユーザーに適用のある法令、業界団体内部規則等に適合することを何ら保証するものではありません。<br>
3. 本サービスに関連してユーザーと他のユーザー又は第三者との間において生じた取引、連絡、紛争等については、ユーザーの責任において処理及び解決するものとし、本サービス提供者はかかる事項について一切責任を負いません。<br>
4. 本サービス提供者は、本サービス提供者による本サービスの提供の中断、停止、終了、利用不能又は変更、ユーザーに関する情報（利用データを含みます）の削除又は消失､ユーザーの本サービス利用によるデータの消失又は機器の故障若しくは損傷、その他本サービスに関連してユーザーが被った損害につき、賠償する責任を一切負わないものとします。<br>
5. 本サービスから他のウェブサイトへのリンク又は他のウェブサイトから本サービスへのリンクが提供されている場合でも、本サービス提供者は、本サービス以外のウェブサイト及びそこから得られる情報に関して如何なる理由に基づいても一切の責任を負わないものとします。<br>
6. ユーザーは、本サービス提供者がユーザーの承諾を得たうえで、Facebook等の外部SNSサービスよりユーザーに関する情報を取得する場合があること、その他外部SNSサービスと連携する場合があることを予め承認するものとします。また、本サービス提供者は外部サービス内容について如何なる保証も行うものではなく、ユーザーは外部SNS利用規約を自己の費用と責任で遵守するものとし、ユーザーと当該外部SNSサービスを運営する外部SNS事業者との間で紛争等が生じた場合でも、本サービス提供者は当該紛争等について一切の責任を負いません。<br>
7. 本規約に基づく本サービス提供者とユーザー間に消費者契約法が適用される場合、本サービス提供者は、ユーザーが被った損害につき、ユーザーが本サービス提供者に帰責事由があることを証明したときに限り、現実に生じた通常かつ直接の損害について責任を負うものとします。なお、本サービス提供者に故意又は重大な過失がある場合には、かかる損害賠償の範囲の限定は適用されないものとします。
</p>
<p>
第12条 紛争処理及び損害賠償
</p>
<p>
1. ユーザーによる本サービスの利用に関連して、ユーザーが他のユーザーその他の第三者からクレームを受け、又はそれらの者との間で紛争が生じた場合でも、ユーザーは自らの費用と責任でそのクレーム又は紛争を処理するものとします。<br>
2. 本サービス提供者が、前項のクレーム又は紛争に関連して、他のユーザーその他三者から権利侵害その他の理由により何らかの請求を受けた場合は、ユーザーは当該請求に基づき本サービス提供者が当該三者に支払を余儀なくされた金額を賠償しなければなりません。<br>
</p>
<p>
第13条 連絡/通知
</p>
<p>
本サービスに関する問い合わせその他ユーザーから本サービス提供者に対する連絡又は通知、及び本規約の変更に関する通知その他本サービス提供者からユーザーに対する連絡又は通知は、本サービス提供者の定める方法で行うものとします。
</p>
<p>
第14条 本規約の譲渡等
</p>
<p>
1. ユーザーは、本サービス提供者の書面による事前の承諾なく、利用契約上の地位又は本規約に基づく権利若しくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。<br>
2. 本サービス提供者は本サービスにかかる事業の全部又は一部を他社に譲渡した場合には、当該事業譲渡に伴い利用契約上の地位、本規約に基づく権利及び義務並びにユーザーの登録情報を当該事業譲渡の譲受人に譲渡することができるものとし、ユーザーは、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。
</p>
<p>
第15条 完全合意
</p>
<p>
本規約は、本規約に含まれる事項に関する本サービス提供者とユーザーとの完全な合意を構成し、口頭又は書面を問わず、本規約に含まれる事項に関する本サービス提供者とユーザーとの事前の合意、表明及び了解に優先します。
</p>
<p>
第16条 分離可能性
</p>
<p>
本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有し、本サービス提供者及ユーザーは当該無効若しくは執行不能の条項又は部分を適法とし、執行力を持たせるために必要な範囲で修正し、当該無効若しは執行不能な条項又は部分の趣旨並びに法律的及び経済的に同等の効果を確保できるように努めるものとします。
</p>
<p>
第17条 存続規定
</p>
<p>
利用契約の終了後も、本規約中、その性質上存続すべき条項（本サービス提供者の免責について定めた条項を含みますが、これに限られません。）は有効に存続するものとします。
</p>
<p>
第18条 準拠法及び管轄裁判所
</p>
<p>
本規約の準拠法は日本法とし、本規約に起因し又は関連する本サービス提供者とユーザーの間に生じた一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
</p>
<p>
第19条 協議解決
</p>
<p>
本サービス提供者及びユーザーは、本規約に定めのない事項又は本規約の解釈に疑義が生じた場合には、互いに信義誠実の原則に従って協議の上すみやかに解決を図るものとします。
</p>
<p>
[2016年4月15日制定]
    </div>
  </div>

</body>